/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
/.zip

# Archivos generados por usuarios
/public/Imagenes_Firma/
/public/Imagenes_Perfil/
/public/piars/

# Si también existe en public_html (Hostinger)
/public_html/Imagenes_Firma/
/public_html/Imagenes_Perfil/
/public_html/piars/
