.container {
    max-width: 800px;
    margin: 3rem auto;
    padding: 20px;
    border-radius: 8px;

}

.container-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
}
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f2f5;
    box-sizing: border-box;
}
.form-group-half {
    width: 95%;
}
.btn {
    display: block;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #6699ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #5984d6;
}

.asignature-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    width: 50%;
    background-color: #ffffff; /* O prueba con #F0F4FF */
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.title-asignature {
    font-size: 1.4rem;
}

.db-options {
    width: 250px;
    background-color: #ededed;
}